<h1><%= @club.name %></h1>
<% @roles.each do |role| %>
  <% top3 = role.suitability_scores.order(suitability_rating: :desc).limit(3) %>
  <h3><%= role.name %> (<%= role.duty %>)</h3>
  <ul>
    <% top3.each do |suitability_score| %>
      <li><strong><%= suitability_score.player.first_name %> <%= suitability_score.player.last_name %>
        <% if suitability_score.suitability_rating < 40.00 %>
          <span class="poor-rating">(<%= suitability_score.suitability_rating %>/100)<span>
        <% elsif suitability_score.suitability_rating < 50 %>
          <span class="ok-rating">(<%= suitability_score.suitability_rating %>/100)<span>
        <% elsif suitability_score.suitability_rating < 60 %>
          <span class="good-rating">(<%= suitability_score.suitability_rating %>/100)<span>
        <% elsif suitability_score.suitability_rating < 70 %>
          <span class="very-good-rating">(<%= suitability_score.suitability_rating %>/100)<span>
        <% elsif suitability_score.suitability_rating < 80 %>
          <span class="excellent-rating">(<%= suitability_score.suitability_rating %>/100)<span>
        <% elsif suitability_score.suitability_rating < 100 %>
          <span class="world-class-rating">(<%= suitability_score.suitability_rating %>/100)<span>
        <% end %>
        </strong>
        <ul>
          <li>Percentage Primary: <%= suitability_score.percentage_primary %>%</li>
          <li>Percentage Secondary: <%= suitability_score.percentage_secondary %>%</li>
          <li>Total Score: <%= suitability_score.total_score %></li>
          <li>Primary Score: <%= suitability_score.primary_score %></li>
          <li>Secondary Score: <%= suitability_score.secondary_score %></li>
          <li>Average Primary Score: <%= suitability_score.average_primary %></li>
          <li>Average Secondary Score: <%= suitability_score.average_secondary %></li>
          <li>Total Average: <%= suitability_score.total_average %></li>
        </ul>
      </li>
    <% end %>
  </ul>

<% end %>
